body {
  font-family: 'Do Hyeon', sans-serif;
  color: white;
  background-color: black;
   }

.Background {
    padding-top: 100px;
    background: url("../img/crypto_coins.jpg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 1000px;
  }
